/*Start Main Rulez */

body {
	background-color: #fff;
	font-size: 18px;
}
.asterisk{
	font-size: 30px;
	position: absolute;
	right: 23px;
	top: 2px;
	color: #c1a8b5;
}

/*
start login form
*/
.login {
	width: 300px;
	margin: 100px auto;

}

.login h4 {

	color: #b7c8d2;
}
.login h4{
		opacity: 0.5;

}
.login input {
	margin-bottom: 10px;
}

.login .form-control {
	background-color: #c1c8ce;
}
.login .btn{
	background-color: #088bd6;
}

/* end login form*/

/* Start BootStrab  Edits*/

.navbar{
	border-radius: 0;
}
.navbar-brand {
	font-size:1em;
}
.dropdown-menu{
	background-color: #bbbbbb;
	box-shadow:0 6px 12px rgb(93, 87, 156);

}
.navbar-expand-lg .navbar-collapse{
}
.form-control {
	position: relative;
}
/* End Bootstrab Edits*/

/* Start Dashbord Edits*/
.home-stats .stat{
	padding: 20px;
	font-size: 15px;
	color: #fff;
	border-radius: 10px;
	position: relative;
	overflow: hidden;

}
.home-stats .stat i {
	position: absolute;
	font-size: 80px;
	top: 35px;
	left: 30px;
}
.home-stats .stat .info {
	float: right;

}

.home-stats .stat a{
	color: #fff;
}
.home-stats .stat a:hover{
	text-decoration: none;
}

.home-stats .st-members{
	background-color: #B71C1C;
}
.home-stats .st-pending{
	background-color:#BFBD57 ;
}
.home-stats .st-items{
	background-color:#3FB260;
}
.home-stats .st-comments{
	background-color:#90A4AE;
}
.home-stats .stat span {
	display: block;
	font-size: 60px;
}
.latest{
	margin-top: 30px;
}
.latest .toggle-info {
	color: #999;
	cursor: pointer;
}
.latest .toggle-info:hover {
	color: #444;
}


.latest-users {
margin-bottom: 0;
}
.latest-users li{
	padding: 5px 0;
	overflow: hidden;
}

.latest-users li:nth-child(odd){
	background-color: #eee;
}
.latest-users .btn-success,
.latest-users .btn-info{
	padding:0px 3px
}

/*End Dashbord Edits*/


   /* Start Members Page*/


h1 {
	font-size: 55px;
	margin: 20px 0;
	font-weight: bold;
	color:#888;

}
.show-pass {
	position: absolute;
	top: 10px;
	right: -8px;
}
.main-table{
	-webkit-box-shadow: 0 3px 10px #757373;
}
.man-table td {
	background-color: #2a2c2d;
	vertical-align: middle !important;
}
.main-table tr:first-child td {/* You Can Use Thead */
	background-color: #333;
	color:#fff;
}
.activate{
	margin-left: 5px ;
}

   /* End Members Page*/

/*Start categories*/
.categories .panel-heading {
    color:#959595;
    font-weight: bold;
}
.categories .panel-body {
    padding: 0;
}
.categories .option a {
    color:#888;
    text-decoration: none;
}
.categories .option .active{
    color:#f00;
    font-weight: bold;
}

.categories .option span{
    color:#888;
    cursor: pointer;
}
.categories hr {
    margin-top: 0;
    margin-bottom: 0;
}
.categories .cat {
    padding: 15px;
    position: relative;
}
.categories .cat:hover .hidden-buttons{
    right: 10px;
}
.categories .cat:hover {
    background-color: #eee;
}
.categories .cat .hidden-buttons {
    -webkit-transition:all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition:all .5s ease-in-out;
     position: absolute;
    top:15px;
    right: -120px;
}
.categories .cat .hidden-buttons a {

    margin-right: 5px;
}

.categories .cat h3 {
	margin: 0;
    cursor: pointer;
    font-weight: bold;
    color:#6a6a6a;

}
.categories .cat .full-view p {
    margin: 10px 0;
    color: #707070;
}
.categories .cat:last-of-type ~ hr {
	display: none;
}
hr {

    border-top: 2px dashed rgba(0,0,0,.1);
}

 .categories .cat .Visibility {
	color: #DE0009;
	padding: 4px 6px;
	margin-right: 6px;
	border-radius: 6px;font-weight: bold;


 }
.categories .cat .commenting {
    color:#d2dae2;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
    font-weight: bold;

}
.categories .cat .advertises {
    color: #2ecc71;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
    font-weight: bold;

}
.categories .add-category{
	margin-bottom: 30px;
}



/*End categories*/