/*Start Main Rulez */

body {
	background-color: #fff;
	font-size: 18px;
}
.asterisk{
	font-size: 30px;
	position: absolute;
	right: 23px;
	top: 2px;
	color: #c1a8b5;
}

/*
start login form
*/
.login {
	width: 300px;
	margin: 100px auto;

}

.login h4 {

	color: #b7c8d2;
}
.login h4{
		opacity: 0.5;

}
.login input {
	margin-bottom: 10px;
}

.login .form-control {
	background-color: #c1c8ce;
}
.login .btn{
	background-color: #088bd6;
}

/* end login form*/

/* Start BootStrab  Edits*/

.navbar{
	border-radius: 0;
}
.navbar-brand {
	font-size:1em;
}
.dropdown-menu{
	background-color: #bbbbbb;
	box-shadow:0 6px 12px rgb(93, 87, 156);

}
.navbar-expand-lg .navbar-collapse{
}
.form-control {
	position: relative;
}
/* End Bootstrab Edits*/

/* Start Dashbord Edits*/
.home-stats .stat{
	padding: 20px;
	font-size: 15px;
	color: #fff;
	border-radius: 10px;

}
.home-stats .stat a{
	color: #fff;
}
.home-stats .stat a:hover{
	text-decoration: none;
}

.home-stats .st-members{
	background-color: #3498db;
}
.home-stats .st-pending{
	background-color:#7f8c8d ;
}
.home-stats .st-items{
	background-color:#2ecc71 ;
}
.home-stats .st-comments{
	background-color: #f9ca24;
}
.home-stats .stat span {
	display: block;
	font-size: 60px;
}
.latest{
	margin-top: 30px;
}


/*End Dashbord Edits*/


   /* Start Members Page*/


h1 {
	font-size: 55px;
	margin: 20px 0;
	font-weight: bold;
	color:#888;

}
.show-pass {
	position: absolute;
	top: 10px;
	right: -8px;
}
.main-table{
	-webkit-box-shadow: 0 3px 10px #757373;
}
.man-table td {
	background-color: #2a2c2d;
	vertical-align: middle !important;
}
.main-table tr:first-child td {/* You Can Use Thead */
	background-color: #333;
	color:#fff;
}
.activate{
	margin-left: 5px ;
}

   /* End Members Page*/